adfv2/pipeline/PL_INGESTION.json
{
	"name": "PL_INGESTION",
	"properties": {
		"activities": [
			{
				"name": "AC_LKP_SP_CreateDataHistoryID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ETL].[usp_createNewDataLoadHistoryID]",
						"storedProcedureParameters": {
							"DataHistoryDescription": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Description",
									"type": "Expression"
								}
							},
							"DestinationSubjectName": {
								"type": "String",
								"value": {
									"value": "@concat(pipeline().parameters.SubjectName, '_Raw')",
									"type": "Expression"
								}
							},
							"ExecutionStartTime": {
								"type": "DateTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"ParametersList": {
								"type": "String",
								"value": {
									"value": "@concat('SubjectName: ', pipeline().parameters.SubjectName, ', Description: ', pipeline().parameters.Description)",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"RunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"SourceSubjectName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SubjectName",
									"type": "Expression"
								}
							},
							"Status": {
								"type": "String",
								"value": "In Progress"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Az_SQL_ControlDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "AC_SETVAR_DataHistoryID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "AC_LKP_SP_CreateDataHistoryID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "DataLoadHistoryID",
					"value": {
						"value": "@activity('AC_LKP_SP_CreateDataHistoryID').output.firstRow.DataLoadHistoryID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "AC_SETVAR_PipelineRunsID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "AC_LKP_SP_CreateDataHistoryID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineRunID",
					"value": {
						"value": "@activity('AC_LKP_SP_CreateDataHistoryID').output.firstRow.PipelineRunsID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "AC_LKP_SP_IngestEntitiesToRaw",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "AC_SETVAR_DataHistoryID",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "AC_SETVAR_PipelineRunsID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ETL].[usp_lookupEntitiesToProcess]",
						"storedProcedureParameters": {
							"DestLayer": {
								"type": "String",
								"value": {
									"value": "Raw",
									"type": "Expression"
								}
							},
							"DestSubject": {
								"type": "String",
								"value": {
									"value": "@concat(pipeline().parameters.SubjectName, '_Raw')",
									"type": "Expression"
								}
							},
							"SourceLayer": {
								"type": "String",
								"value": {
									"value": "Source",
									"type": "Expression"
								}
							},
							"SourceSubject": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SubjectName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Az_SQL_ControlDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "AC_ForEach_SourceEntity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "AC_LKP_SP_IngestEntitiesToRaw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('AC_LKP_SP_IngestEntitiesToRaw').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "AC_COPY_Entity_FROM_SRC_TO_RAW",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM ', item().SourceSubject, '.', item().SourceEntityName)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_CSV_RawOutput",
									"type": "DatasetReference",
									"parameters": {
										"DataHistoryID": {
											"value": "@variables('DataLoadHistoryID')",
											"type": "Expression"
										},
										"DestLayer": {
											"value": "@item().DestinationLayer",
											"type": "Expression"
										},
										"Filename": {
											"value": "@item().DestinationSubject",
											"type": "Expression"
										},
										"EntityName": {
											"value": "@item().DestinationEntity",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SubjectName": {
				"type": "string",
				"defaultValue": "Sales"
			},
			"Description": {
				"type": "string",
				"defaultValue": "First Test of Sales Data Load"
			}
		},
		"variables": {
			"DataLoadHistoryID": {
				"type": "Integer"
			},
			"PipelineRunID": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}